@model IEnumerable<CarLocadora.Modelo.ManutencaoVeiculoModel>

@{
    ViewData["Title"] = "Index";
}
<p>
	<div align="center">
		<h2>Manutenção de Veículos</h2>
	</div>
	<br />
	<a asp-action="Create"> <input class="btn btn-warning" value="Novo Cadastro" /></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataServico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Garantia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorServico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInclusao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataAlteracao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VeiculoPlaca)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataServico)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Garantia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorServico)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataInclusao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataAlteracao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VeiculoPlaca)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new {  id=item.Id  }, new {@class = "btn btn-warning"}) |
                    @*@Html.ActionLink("Detalhes", "Details", new { /* id=item.PrimaryKey */ }) |*@
                    <button class="btn-danger">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"
                       data-bs-id="@item.Id" data-bs-nome="@item.Descricao">Excluir</a>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Excluir Manutenção</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="divModalTexto" class="mb-3">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                @Html.ActionLink("Excluir","Delete", new {@class = "btn btn-danger"}, new {@class = "btn btn-primary"})

            </div>
        </div>
    </div>
</div>